body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #1e90ff;
    color: rgb(4, 8, 12);
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    padding: 2em;
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    gap: 2em;
}

.product {
    background-color: rgb(233, 225, 225);
    border: 15px solid #ddd;
    border-radius: 15px;
    padding: 1em;
    text-align: center;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

.product h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.product .price {
    color: #1e90ff;
    font-weight: bold;
    margin-bottom: 1em;
}

.product button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

.product button:hover {
    background-color: #104e8b;
}

footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}